{{ define "footer.html" }}
<footer id="site-footer">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy; Wr.W's blog copyright-蜀ICP备17040223号 </p>
            </div>
        </div>
    </div> -->
    <div class="copyright">
        <a href="./disclaimer.html">免责声明</a>
        </br>
        <a href="https://github.com/mjrao/hotso">反馈: roading@pm.me</a>
        </br>
        <a href="http://www.beian.miit.gov.cn/">京ICP备19056054</a>
    </div>
</footer>
{{ end }}